{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->

   <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={% static "bootstrap/css/dashboard.css" %} rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
	<script src={% static "bootstrap/js/jquery.relevant-dropdown.js" %}></script>
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Document Clustering Project</a>
        </div>
        
        
        <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
			<li><a href="/faq/">FAQ</a></li>
	        {% if user.is_authenticated %}
			<li><a href="/dashboard/">Dashboard</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">{{ user }}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout/">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="/">Home</a></li>
            {% endif%}
	      </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
 			<div class="row">
            <span style="padding-right:0px; padding-top: 0px; display:block;">
    			<img class="manImg" height=40px width=100% src="https://storage.googleapis.com/total-now-154323.appspot.com/img/vintage-old-book-document%20strip.jpg"></img>
  			</span>
          </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Cluster Dashboard</h1>
          

          <h2 class="sub-header">Available Corpa</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Corpus</th>
                  <th>Categories</th>
                  <th>Documents</th>
                  <th>Public</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
              	{% if corpa %}
              		{% for corpus in corpa %}
              			<tr>
              				<td>{{corpus.name}}</td>
							<td>{{corpus.cat_count}}</td>
							<td>{{corpus.doc_count}}</td>
							<td>{{corpus.public}}</td>         
							<td><a href="/del_corpus/{{corpus.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>     				
              			</tr>
              		{% endfor %}
              	{% endif %}
              </tbody>
            </table>
          </div>
			<h2 class="sub-header">Create a New Corpus</h2>
			<form action="/corpus/" method="post">{% csrf_token %}
				<table>
					{{form.as_table}}
				</table>
			
				<button class="btn btn-sm btn-primary" type="submit" name="submit">Create New Corpus</button><a href="/remove_corpus/{{corpus.id}}/">
			</form>

        </div>

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

